.container {
    width: 340px;
    height: 500px;
    border: solid 1px;
}

.header {
    text-align: center;
    border: solid 1px;
}

.form {
    border: solid 1px;
}

.form_input {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    margin-bottom: 5px;
}

.form_input input {
    width: 70%;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.sites {
    height: 200px;
    overflow-y: auto;
    padding: 10px;
    border: solid 1px;
}

.site {
    border: solid 1px;
}